<table class="content-message">
	<thead>
		<tr>
			<td align="left" colspan="2" style="padding-bottom: 20px; text-align: left;">
				{mail_message}
			</td>
		</tr>
	</thead>
    <tbody>
        <tr>
            <td colspan="2" class="link-system">{mail_click_aqui}</td>
        </tr>
        <tr>
            <td colspan="2" class="detalle">DETALLE:</td>
        </tr>
        <tr>
            <th align="right">{general_no_sol}:</th>
            <td>{id_solicitud}</td>
        </tr>
        <tr>
            <th align="right">{general_empleado}:</th>
            <td>{nombre_empleado}</td>
        </tr>
        <tr class="{hide_data}">
            <th align="right">{general_jefe_inmediato}:</th>
            <td>{nombre_jefe_inmediato}</td>
        </tr>
        <tr>
            <th align="right">{baja_ultima_fecha}:</th>
            <td>{custom_ultima_fecha}</td>
        </tr>
        <tr>
            <th align="right">{baja_fecha_baja}:</th>
            <td>{custom_fecha_baja}</td>
        </tr>
        <tr>
            <th align="right">{baja_fecha_solicitud}:</th>
            <td>{custom_timestamp_sol}</td>
        </tr>
    </tbody>
</table>