<div class="modal fade" id="modal-new-crh" tabindex="-1" role="dialog" aria-labelledby="new-crh" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!-- <form class="form-new-crh form-validate" action="{base_url}empresas/process_save_contacto_rh"> -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="new-crh">{empresas_contactos_rh}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body padding-top-5">
                    <table id="colaboradores" class="table table-hover dataTable dtr-inline">
                        <thead>
                            <tr>
                                <th>{general_nombre}</th>
                                <th>{general_correo}</th>
                                <th>{general_acciones}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {dataTable}
                            <tr data-id_empleado="{id_empleado}">
                                <td>{nombre_completo}</td>
                                <td>{correo}</td>
                                <td class="td-actions text-right">
                                    <a href="#" class="btn btn-link btn-success btn-just-icon add-contactoRH tooltips" rel="tooltip" title="<?= $empresas_add_contactorh ?>">
                                        <i class="material-icons">done_all</i>
                                    </a>
                                </td>
                            </tr>
                            {/dataTable}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link text-danger" data-dismiss="modal">{general_close}</button>
                </div>
            </div>
        <!-- </form> -->
    </div>
</div>