<div class="modal fade" id="modal-update-empresa" tabindex="-1" role="dialog" aria-labelledby="update-empresa" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="form-update-empresa" action="{base_url}empresas/process_update_empresa">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update-empresa">{empresas_update_empresa}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="empresa" class="bmd-label-floating">{general_empresa}:</label>
                        <input type="text" class="form-control validate required" id="empresa" name="empresa" value="{empresa}">
                    </div>
                    <div class="form-group">
                        <label for="razon_social" class="bmd-label-floating">{empresas_razon_social}:</label>
                        <input type="text" class="form-control validate required" id="razon_social" name="razon_social" value="{razon_social}">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="dataEncription" value="{dataEncription}">
                    <button type="button" class="btn btn-link text-danger" data-dismiss="modal">{general_close}</button>
                    <button type="submit" class="btn btn-success">{general_save}</button>
                </div>
            </div>
        </form>
    </div>
</div>