<div class="modal fade" id="modal-dias-habiles" tabindex="-1" role="dialog" aria-labelledby="dias-habiles" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="form-registro-dias-habiles" action="{base_url}empresas/process_save_dias_habiles">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dias-habiles">{general_dias_habiles}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-11 offset-md-1">
                            <?php foreach($dias_semana AS $day): 
                                $checked = (strstr($dias_habiles, $day['id_dia']) !== FALSE ? 'checked' : ''); ?>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="dias_habiles[]" class="custom-control-input validate required" id="weekday<?= $day['id_dia'] ?>" value="<?= $day['id_dia'] ?>" <?= $checked ?> data-msg-required="{empresas_indicar_dia_habil}">
                                    <label class="custom-control-label" for="weekday<?= $day['id_dia'] ?>"><?= $day['dia'] ?></label>
                                </div>
                            <?php endforeach ?>
                            <div class="errorPlacement"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link text-danger" data-dismiss="modal">{general_close}</button>
                    <button type="submit" class="btn btn-success">{general_save}</button>
                </div>
            </div>
        </form>
    </div>
</div>