<div class="modal fade" id="modal-new-crh" tabindex="-1" role="dialog" aria-labelledby="new-crh" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="form-new-crh form-validate" action="{base_url}empresas/process_save_contacto_rh">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="new-crh">{empresas_update_empresa}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body padding-top-5">
                    <div class="form-group">
                        <label for="empresa" class="col-form-label">{empresas_empresa}:</label>
                        <input type="text" class="form-control validate required" id="empresa" name="empresa" value="{empresa}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="razon_social" class="col-form-label">{general_nombre}:</label>
                        <input type="text" class="form-control validate required" id="nombre" name="nombre">
                    </div>
                    <div class="form-group">
                        <label for="razon_social" class="col-form-label">{general_correo}:</label>
                        <input type="text" class="form-control validate required email" id="correo" name="correo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link text-danger" data-dismiss="modal">{general_close}</button>
                    <button type="submit" class="btn btn-success">{general_save}</button>
                </div>
            </div>
        </form>
    </div>
</div>