<div class="col-md-12">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">contact_mail</i>
                                </div>
                                <h4 class="card-title">{empresas_contactos_rh}</h4>
                        </div>
                        <div class="card-body table-responsive">
                            <table id="contactos-rh" class="table table-hover no-autoinit" data-btn-Add="true">
                                <thead class="text-gray">
                                    <th>{general_nombre}</th>
                                    <th>{general_correo}</th>
                                    <th width="90">{general_acciones}</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">schedule</i>
                            </div>
                            <h4 class="card-title">{empresas_turnos}</h4>
                        </div>
                        <div class="card-body table-responsive">
                            <table id="turnos" class="table table-hover no-autoinit" data-btn-Add="true">
                                <thead class="text-gray">
                                    <th>{empresas_turno}</th>
                                    <th>{general_hora_entrada}</th>
                                    <th>{general_hora_salida}</th>
                                    <th>{general_acciones}</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card">
                <input type="hidden" class="hide" id="dataEncription" value="{dataEncription}">
                <div class="card-body ">
                    <div class="form-group">
                        <label for="empresa" class="bmd-label-floating">{general_empresa}</label>
                        <input type="text" class="form-control" id="empresa" value="{empresa}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="razon_social" class="bmd-label-floating">{general_razon_soc}</label>
                        <input type="text" class="form-control" id="razon_social" value="{razon_social}" disabled>
                    </div>
                    <div class="form-group is-focused">
                        <label for="turno" class="bmd-label-floating">{empresas_turno}</label>
                        <input type="text" class="form-control" id="turno" placeholder="{general_undefined}" aria-describedby="turnoHelper" autocomplete="off" value="{turno}">
                        <small id="turnoHelper" class="form-text text-muted">
                          {empresas_message1}
                        </small>
                    </div>
                    <div class="content-dias-habiles">
                       {dias-habiles}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hide content-btns">
    <a href="#" class="btn btn-link btn-warning btn-just-icon edit tooltips no-autoinit" title="<?= $general_editar ?>" data-placement="auto">
        <i class="material-icons">edit</i>
    </a>
    <a href="#" class="btn btn-link btn-danger btn-just-icon remove tooltips no-autoinit" title="<?= $general_delete ?>" data-placement="auto">
        <i class="material-icons">close</i>
    </a>
</div>