<div class="col-md-12">
    <div class="card ">
        <div class="card-header">
            <input type="hidden" id="dataEncription" name="dataEncription" value="{dataEncription}">
            <h4 class="card-title">{empresa}</h4>
            <p class="card-category"><small>{razon_social}</small></p>
        </div>
        <div class="card-body ">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">contact_mail</i>
                                </div>
                                <h4 class="card-title">{empresas_contactos_rh}</h4>
                        </div>
                        <div class="card-body table-responsive">
                            <table id="contactos-rh" class="table table-hover no-autoinit" data-btn-Add="true">
                                <thead class="text-gray">
                                    <th>{general_nombre}</th>
                                    <th>{general_correo}</th>
                                    <th>{general_acciones}</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">schedule</i>
                            </div>
                            <h4 class="card-title">{empresas_turnos}</h4>
                        </div>
                        <div class="card-body table-responsive">
                            <table id="turnos" class="table table-hover" data-btn-Add="true">
                                <thead class="text-gray">
                                    <th>{empresas_turno}</th>
                                    <th>{general_acciones}</th>
                                </thead>
                                <tbody>
                                    {dataTable}
                                    <tr data-id_empresa="{id_empresa}">
                                        <td>{nombre}</td>
                                        <td class="text-right">
                                            <a href="#" class="btn btn-link btn-warning btn-just-icon edit-crh tooltipped no-autoinit" title="<?= $general_editar ?>">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <a href="#" class="btn btn-link btn-danger btn-just-icon remove-crh tooltipped no-autoinit" title="<?= $general_delete ?>">
                                                <i class="material-icons">close</i>
                                            </a>
                                        </td>
                                    </tr>
                                    {/dataTable}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hide content-btns">
    <a href="#" class="btn btn-link btn-warning btn-just-icon edit tooltipped no-autoinit" title="<?= $general_editar ?>">
        <i class="material-icons">edit</i>
    </a>
    <a href="#" class="btn btn-link btn-danger btn-just-icon remove tooltipped no-autoinit" title="<?= $general_delete ?>">
        <i class="material-icons">close</i>
    </a>
</div>